.form {
  max-width: 30rem;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
}

.form label {
  display: block;
}

.form input {
  margin-top: 0.2em;
  padding: 0.4em;
  border: 1px solid #bbb;
  border-radius: 5px;
  color: #333;
  width: 100%;
  resize: none;
}

.form button {
  border: none;
  display: inline-block;
  padding: 0.75rem 2.25rem;
  border: 1px solid #ff5574;
  border-radius: 30px;
  background-color: #ff5574;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options p {
  font-size: 1.1rem;
}

.options span {
  color: #ff5574;
  cursor: pointer;
}

.options span:hover {
  color: #e2389b;
}

.title {
  margin: 0 auto;
  font-size: 1.1rem;
}

.error {
  color: red;
  margin-top: 0.2em;
}

@media screen and (max-width: 560px) {
  .form {
    max-width: 25rem;
  }
}

@media screen and (max-width: 400px) {
  .form {
    max-width: 20rem;
  }
}
